
/*Fondo*/
body{
    
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.363), hsla(0, 49%, 52%, 0.411)), url(../imag/posible.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imag/posible.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/*Header logo*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*NAVEGADOR*/
nav{
    background-color: hsla(300, 100%, 25%, 0.466);
     text-align: right;
     padding: 30px 50px 0 0;
 }
 nav>a{
     color: #fff;
     font-weight: 300;
     text-decoration: none; /*Quita el subrayado*/
     margin-right: 10px ;
 }
 nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
     text-decoration: underline;
 }
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .button{
    background: linear-gradient(to right, #ff105f,#ffad06);
  }

  /*footer*/
footer{
    background:  hsla(300, 100%, 25%, 0.466);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
   display: flex;
   width:90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 2px;
   border-bottom: 1px solid #ccc;
}
.content-foo{
   text-align: center;
}
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid  #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px; 
   
}
.content-foo p{
   color: #fff;

}
.Titulo-final{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0 ;
   color: #9e9797;

}