*{ /*Reseteo básico de las opciones predeterminadas del navegador web*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {/*Variable de css*/
    --colorTextos: #49454567;
}


.Logo{ /*Centrar el logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    
    /*background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.363), hsla(0, 49%, 52%, 0.411)), url(../imag/Fondo1.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imag/Fondo1.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;   
}
.wave{
    position: absolute;
    height: 500px;
    width: 100%;
}
/*FOTO USUARIO*/
.FotoUsuario{
    margin-top: 100px;
    margin-left: 80px;
    position: absolute;
}
.BTN_EXAMINAR{
    position: absolute;
    width: 50px;
    margin-top: 500px;
    margin-left: 220px;
}
.Registro{
  margin-left: 400px;
    height: 650px;
   display: flex;
   justify-content: center;
   align-items: center;
}
h1{
    text-align: center;
    font-weight: 700px;
}
form{
    width: 400px;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.form{
    width: 100%;
    margin:auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
input{
    background: none;
    color:#c6c6c6;
    font-size:18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
   
}
label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
.BTN_REGISTRAR{
    margin-left: 60px;
    color: #fff;
}
button{
    font-family: 'roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b36a97, #7f45dc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.Registrar{
    
    margin-left: 35px;
}

/*NAVEGADOR*/
nav{
   background-color: hsla(300, 100%, 25%, 0.466);
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #fff;
    font-weight: 300;
    text-decoration: none; /*Quita el subrayado*/
    margin-right: 10px ;
}
nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
    text-decoration: underline;
} 

/*footer*/
footer{
    background:  hsla(300, 100%, 25%, 0.466);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
   display: flex;
   width:90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 2px;
   border-bottom: 1px solid #ccc;
}
.content-foo{
   text-align: center;
}
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid  #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px; 
   
}
.content-foo p{
   color: #fff;

}
.Titulo-final{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0 ;
   color: #9e9797;

}
@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}
