*{ /*Reseteo básico de las opciones predeterminadas del navegador web*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {/*Variable de css*/
    --colorTextos: #49454567;
}


.Logo{ /*Centrar el logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    
    /*background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.363), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;   
}
.wave{
    position: absolute;
    height: 750px;
    width: 100%;
}
/*FOTO USUARIO*/
.FotoUsuario{
    margin-top: 100px;
    margin-left: 80px;
    position: absolute;
}

h1{
    text-align: center;
    font-weight: 700px;
}
form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 625px;
}
.form{
    width: 100%;
    margin:auto;
}
form .grupo{
    position: relative;
    margin: 45px;
    
}
input{
    background: none;
    color: purple;
    font-size:18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
   
}



.barra{
    position: relative;
    display: block;
    width: 100%;
}



.InfoUsuario{
    margin-top: 20px;
    width: 440px;
    height: 500px;
    margin-left: 660px;
}

/*NAVEGADOR*/
nav{
   background-color: hsla(300, 100%, 25%, 0.466);
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #fff;
    font-weight: 300;
    text-decoration: none; /*Quita el subrayado*/
    margin-right: 10px ;
}
nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
    text-decoration: underline;
} 

/*footer*/
footer{
    background:  hsla(300, 100%, 25%, 0.466);
    padding: 60px 0 30px 0;
    margin: auto;
    margin-top: 130px;
    overflow: hidden;
}
.contenedor-footer{
   display: flex;
   width:90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 2px;
   border-bottom: 1px solid #ccc;
}
.content-foo{
   text-align: center;
}
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid  #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px; 
   
}
.content-foo p{
   color: #fff;

}
.Titulo-final{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0 ;
   color: #9e9797;

}
@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}
