*{ /*Reseteo básico de las opciones predeterminadas del navegador web*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo{ /*Centrar el logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    
    /*background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.363), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/*NAVEGADOR*/
nav{
   background-color: hsla(300, 100%, 25%, 0.466);
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #fff;
    font-weight: 300;
    text-decoration: none; /*Quita el subrayado*/
    margin-right: 10px ;
}
nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
    text-decoration: underline;
} 
/*SLIDER*/
.carousel-inner{ /*Cambia el tamaño del slider*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   height: 300px;
   width: auto;
   background-color: hsla(300, 100%, 25%, 0.466);
   
}
.carousel-inner img{ /*Tamaño de las fotos del slider*/
    width: 1500px;
    height: 600px;
}
/*SECCIÓN DE NOTICIAS*/
.Seccion-Noticias{
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}
.contenido-textos h1{
    background-color: hsla(300, 100%, 25%, 0.466);
    margin: auto;
    padding: 10px;
    color: #fff;
}
.Seccion-Noticias img{
height: 130px;
width: 160px;
}

/*COMENTARIOS*/
.Comment{
    color: #fff;
    margin-left: 800px;
}
.Boton-Comentario{
margin-left: 170px;
}
/*footer*/
footer{
    background:  hsla(300, 100%, 25%, 0.466);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
   display: flex;
   width:90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 2px;
   border-bottom: 1px solid #ccc;
}
.content-foo{
   text-align: center;
}
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid  #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px; 
   
}
.content-foo p{
   color: #fff;

}
.Titulo-final{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0 ;
   color: #9e9797;

}
