/*Fondo*/
body{
    
  background: #C04848;  /* fallback for old browsers */
  background: linear-gradient(to right, hsla(300, 100%, 14%, 0.363), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imag/fondo.jpg); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}


/*Header logo*/
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/*NAVEGADOR*/
nav{
   background-color: hsla(300, 100%, 25%, 0.466);
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #fff;
    font-weight: 300;
    text-decoration: none; /*Quita el subrayado*/
    margin-right: 10px ;
}
nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
    text-decoration: underline;
}

body {
    font-family: Arial;
    padding: 20px;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #cf95b1;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  .btnSubir{
    background: linear-gradient(to right, #ff105f,#ffad06);
  }

  /*footer*/
footer{
  background:  hsla(300, 100%, 25%, 0.466);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
.contenedor-footer{
 display: flex;
 width:90%;
 justify-content: space-evenly;
 margin: auto;
 padding-bottom: 2px;
 border-bottom: 1px solid #ccc;
}
.content-foo{
 text-align: center;
}
.content-foo h4{
 color: #fff;
 border-bottom: 3px solid  #af20d3;
 padding-bottom: 5px;
 margin-bottom: 10px; 
 
}
.content-foo p{
 color: #fff;

}
.Titulo-final{
 text-align: center;
 font-size: 24px;
 margin: 20px 0 0 0 ;
 color: #9e9797;

}