*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    font-family: 'Franklin Gothic Medium';
}
.contenedor{
    padding: 60px 0;
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*Header*/
header{
    width: 100%;
    height: 600px;
    
    background: #C04848;  /* fallback for old browsers */
background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imagenes/portada.jpg); 
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(300, 100%, 14%, 0.507), hsla(0, 49%, 52%, 0.411)), url(../imagenes/portada.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav>a{
    color: #fff;
    font-weight: 300;
    text-decoration: none; /*Quita el subrayado*/
    margin-right: 10px ;
}
nav>a:hover{/*Cuando pasemos el mouse sobre elemento a*/
    text-decoration: underline;
} 
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 40px;
    color: #fff;
}
.textos-header h2{
    font-size: 20px;
     font-weight:300 ;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Noticia destacada*/
.contenedor-Noticia-Destacada{
    display: flex;
    justify-content: space-evenly;
}
.imagen-Noticia-Destacada{
    width: 48%;

}
.Noticia-Destacada .contenido-textos{
width: 48%;

}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria*/
.Noticias{
    background: #fff;
}

.Galeria-Noticia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-Noticia{
    width:30%;
    margin-bottom: 10px ;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0  6px 0 rgb(0, 0, 0, .5);

}
.imagen-Noticia > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
width: 50px;

}
.hover-galeria p{
    color:#fff;
    
}
.imagen-Noticia:hover .hover-galeria{
    transform: scale(1);
}

/*Usuarios*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #4d0686;
    display:flex;
    width:46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0, 0,.6);
}
.cards .card img{
    width:100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card >.contenido-texto-card{
    width: 60%;
    color:#fff;

}
.cards .card> .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}

/*Nuestra pagina*/
.Sobre-la-pagina{
    background: #f2f2f2;
    padding-bottom: 30px;

}
.pagina-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagina-ind{
    width:28%;
    text-align: center;

}
.pagina-ind img{
    width:90%;
}
.pagina-ind h3{
    margin: 10px 0;
}
.pagina-ind p{
    font-weight: 300;
    text-align: justify;
 }

 /*footer*/
 footer{
     background: #414141;
     padding: 60px 0 30px 0;
     margin: auto;
     overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width:90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid  #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px; 
    
}
.content-foo p{
    color: #fff;

}
.Titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #9e9797;

}
/*Para móviles*/
@media screen and (max-width:900px){
    header{
    background-position: center;
    }
    /*Noticia destacada*/
    .contenedor-Noticia-Destacada{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .Noticia-Destacada .contenido-textos{
        width:90%;

    }
    .imagen-Noticia-Destacada{
    width: 90%;
    }
    /*Galeria*/
    .imagen-Noticia{
        width:44%;
    }
    /*Usuarios*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width:90%;
    }
    .cards .card:first-child{
        margin-bottom:30px ;
    }
    /*Nuestra pagina*/
    .pagina-cont{
        justify-content: center;
        flex-direction: column;
    }
    .pagina-ind{
        width:100%;
        text-align: center;
    }
    .pagina-ind:nth-child(1), .pagina-ind:nth-child(2){
        margin-bottom: 60px;
     
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0;
    }
    nav>a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    /*Noticia destacada*/

    .imagen-Noticia-Destacada{
        margin-bottom: 60px;
        width: 99%;
    }
    .Noticia-Destacada .contenido-textos{
        width:95%;

    }
    /*Galeria*/
    .imagen-Noticia{
       width:95%;
    }
    /*Usuarios*/
    .cards .card{
        height:450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
    /*Footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
       border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
     }
     .Titulo-final{
         font-size: 20px;
     }




}

